body{
    background: #5f7755;
    margin: 0;
    font-size: 30px;
    font-style: initial;
}
img{
	width:500px;
}
p {
    background: #194c2094;
    margin: 0;
    font-size: 30px;
    font-style: initial;
    color: #f1f1f1;
}
h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f1f1f1;
}
h2 {
    background: gainsboro;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #264227d6;
}

td {
    border: 1px solid;
	color:#5f7755;
}
table {
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #a92626;
    border-collapse: collapse;
}
.container {
    height: 2150px;
    width: 1000px;
    background-color: #000000d6;
    margin-right: auto;
    margin-left: auto;
}
.col-2-1 {
    height: 1200px;
    width: 100%;
    float: left;
}